body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(135deg, #831818 0%, #0c3170 100%);
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a12f2f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #575757;
}

.container {
    margin-top: 60px;
}

.section {
    padding: 60px 20px;
    display: none;
    min-height: 100vh;
    transition: opacity 0.5s ease-in-out;
}

.section.active {
    display: block;
    opacity: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.img{
    position: relative;
}